<div class="modal-background">
    <div class="modal">
      <h2>Create Transaction</h2>
      <form (submit)="submitForm()">
        <label for="date">Date:</label>
        <input type="date" id="date" [(ngModel)]="newTransaction.date" name="date" required>
  
        <label for="description">Description:</label>
        <input type="text" id="description" [(ngModel)]="newTransaction.description" name="description" required>
  
        <label for="amount">Amount:</label>
        <input type="number" id="amount" [(ngModel)]="newTransaction.amount" name="amount" required>
  
        <button type="submit">Create</button>
        <button type="button" (click)="closeModal()">Cancel</button>
      </form>
    </div>
  </div>
  